body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
}

.container {
    margin: 20px auto;
    width: 100%;
}

.nav-container {
    margin: 0 auto;
    padding: 2px 5px;
}

.nav {
    list-style-type: none;
    border: 1px solid white;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: rgb(36, 231, 231);
    border-radius: 5px;
}

.nav-elem {
    display: inline;
    float: left;
    vertical-align: middle;
}

.nav-elem a {
    display: inline-block;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.nav-elem a:hover:not(.active) {
    background-color: #3498DB;
    margin: 10px auto;
    border-radius: 5px;
}

.content-container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3498DB;
    color: rgb(36, 231, 231);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}