<!DOCTYPE html>
<html>

<head>
    <title>Collection</title>
    <!-- SCRIPTS: -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/static/js/list.js'></script>
    <!-- STYLES: -->
    <link rel='stylesheet' href='/static/css/list.css' </head>

    <body>
        <div class='container'>
            <div class='nav-container'>
                <ul class='nav'>
                    <li class='nav-elem'><a class='logout-href' href="#">Log Out</a></li>
                    <li class='nav-elem'><a href="#">About</a></li>
                    <li class='nav-elem'><a href="#">Contacts</a></li>
                    <li class='nav-elem'><a class='profile-href' href="#">Profile</a></li>
                </ul>
            </div>
            <div class='content-container'>
                <div class='title'>
                    <h1>Messages Content</h1>
                </div>
                <table>
                    <tr>
                        <th>
                            Reading ID
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Temperature (K)
                        </th>
                        <th>
                            Min Temperature (K)
                        </th>
                        <th>
                            Max Temperature (K)
                        </th>
                        <th>
                            Time
                        </th>
                    </tr>
                    {% for row in rows %}
                    <tr>
                        <td>{{row['id']}}</td>
                        <td>{{row['city']}}</td>
                        <td>{{row['country']}}</td>
                        <td>{{row['temperature_current']}}</td>
                        <td>{{row['temperature_min']}}</td>
                        <td>{{row['temperature_max']}}</td>
                        <td>{{row['timestamp']}}</td>
                    </tr>
                    {%endfor%}



                </table>

            </div>

        </div>



    </body>

</html>