<!DOCTYPE html>
<html>

<head>
    <title>Collection</title>
    <link rel='stylesheet' href='/static/css/list.css' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/static/js/user.js'></script>
</head>

<body>

    <div class="container">
        <div class="nav-container">

            <ul class='nav'>
                <li class='nav-elem'><a class='logout-href' href="#">Log Out</a></li>
                <li class='nav-elem'><a href="#">About</a></li>
                <li class='nav-elem'><a href="#">Contacts</a></li>
            </ul>
        </div>

        <div class='collection-container'>
            <div class="title">
                <h1>Content</h1>
            </div>
            <table border=0>
                <thead>
                    <td>
                        <div class="login-form">
                            <div class="login-form-item">
                                Reading ID
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="login-form">
                            <div class="control-group">
                                City
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="login-form">
                            <div class="login-form-item">
                                Country
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="login-form">
                            <div class="login-form-item">
                                Temperature
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="login-form">
                            <div class="login-form-item">
                                Min Temperature
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="login-form">
                            <div class="login-form-item">
                                Max Temperature
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="login-form">
                            <div class="login-form-item">
                                Time
                            </div>
                        </div>
                    </td>
                </thead>
                {% for row in rows %}
                <tr>
                    <td>{{row['id']}}</td>
                    <td>{{row['city']}}</td>
                    <td>{{row['country']}}</td>
                    <td>{{row['temperature_current']}}</td>
                    <td>{{row['temperature_min']}}</td>
                    <td>{{row['temperature_max']}}</td>
                    <td>{{row['timestamp']}}</td>
                </tr>
                {%endfor%}

        </div>

    </div>

    </table>



</body>

</html>